.wrap-list{
    min-width: 350px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
}
ul{
    list-style-type:none ;
}
li{
    margin: 10px 0;
}
.tableData{
    min-width: 350px;
    max-width: 600px;
    margin: 0 auto;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
tr,th,td{
    border: 1px solid black;
}
.img{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
td:nth-child(3){
    text-align: center;
}
.btn{
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
}
.bg-danger{
    color: white;
    background-color: red;
    margin-left: 20px;
    margin-right: 5px;
}
.bg-warning{
    color: black;
    background-color: yellow;
}
.formInsert{
    min-width: 350px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}
input[type="text"]{
    padding: 10px;
    border-radius: 10px;
}
button{
    width: 100px;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
button:hover{
    opacity: .6;
}